In [1]:
# Los comandos mágicos permiten ejecutar instrucciones SQL directamente desde Python
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

### Creación de la Base de Datos

La siguiente instrucción SQLite conecta con la base de datos \verb|Instrucciones|. Si la base de datos no existe, el sistema la crea automáticamente.

In [2]:
%sql sqlite:///Inscripciones.db

### Creación de las Tablas

Esquema SQL para la creación de la tabla \Verb|Escuelas|

In [3]:
%sql CREATE TABLE "Escuelas" ("NumeroEscuela" INTEGER NOT NULL, "NombreEscuela" TEXT NOT NULL, PRIMARY KEY ("NumeroEscuela"))

 * sqlite:///Inscripciones.db
Done.

[]

Esquema SQL para la creación de la tabla \Verb|TipoInscripcion|

In [4]:
%sql CREATE TABLE "TipoInscripcion" ("Id-Tipo" INTEGER NOT NULL, "Descripcion" TEXT NOT NULL, PRIMARY KEY ("Id-Tipo"))

 * sqlite:///Inscripciones.db
Done.

[]

Esquema SQL para la creación de la tabla \Verb|Estudiantes|

In [5]:
%sql CREATE TABLE "Estudiantes" ("CI" TEXT NOT NULL, "EstudianteNombre"	TEXT NOT NULL, "EstudianteApellido" TEXT NOT NULL, "Direccion" TEXT, "Lapso" TEXT NOT NULL, "NumeroInscripcion"	INTEGER, PRIMARY KEY ("CI"))

 * sqlite:///Inscripciones.db
Done.

[]

Esquema SQL para la creación de la tabla \Verb|Materias|

In [6]:
%sql CREATE TABLE "Materias" ("CodigoMateria" TEXT NOT NULL, "Nombre" TEXT NOT NULL, "NumeroEscuela" INTEGER, PRIMARY KEY ("CodigoMateria"), FOREIGN KEY ("NumeroEscuela") REFERENCES "Escuelas" ("NumeroEscuela"))

 * sqlite:///Inscripciones.db
Done.

[]

Esquema SQL para la creación de la tabla \Verb|Inscripciones|

In [7]:
%sql CREATE TABLE "Inscripciones" ("NumeroInscripcion" INTEGER NOT NULL, "Fecha" DATE NOT NULL, "Monto"	DECIMAL NOT NULL, "TipoInscripcion" INTEGER NOT NULL, "Lapso" TEXT NOT NULL,"CodigoMateria" NOT NULL, "NumeroSemestre" NOT NULL, PRIMARY KEY ("NumeroInscripcion" AUTOINCREMENT), FOREIGN KEY ("CodigoMateria") REFERENCES "Materias" ("CodigoMateria"), FOREIGN KEY ("TipoInscripcion") REFERENCES "TipoInscripcion" ("Id-Tipo"))

 * sqlite:///Inscripciones.db
Done.

[]

### Inserción de Tuplas

Inserciones en la tabla \Verb|Estudiantes|

In [8]:
%sql INSERT INTO Estudiantes ("CI", "EstudianteNombre", "EstudianteApellido", "Direccion", "Lapso", "NumeroInscripcion") VALUES ("20100200", "José", "Carmona", "Av. Bravo Edif. Socorro Petare", "2010-1", 1), ("21150210", "Luis", "González", "Av. García Edif. Iris La California", "2010-2", 2), ("22110300", "Abelardo", "Gutiérrez", "Calle. Santiago. Casa 8. La Urbina", "2010-1", 3), ("23105600", "Sandra", "Hernández", "Calle La Línea. Casa 18 Catia", "2011-1", 4), ("21900300", "Carlos", "Urdaneta", "Av. Bocono. Edif. Sucre.La Florida", "2011-2", 5), ("22115116", "María", "Alvarado", "Av. Gustavo. Edif. SOS,Sebucán", "2011-1", 6), ("23450200", "Agustín", "Lara", "Av. Colinas. Edif. Miguel. Colinas de Bello Monte", "2012-1", 7), ("20800250", "Cristian", "Cuevas", "Calle Justa. Casa No. 30. El Llanito", "2012-2", 8)

 * sqlite:///Inscripciones.db
8 rows affected.

[]

El siguiente registro arroja un error, ya que el número de cédula ya se encuentra registrado en la tabla \Verb|Estudiantes| y no pueden existir dos tuplas distintas de estudiantes con el mismo número de cédula

In [9]:
%sql INSERT INTO Estudiantes ("CI", "EstudianteNombre", "EstudianteApellido", "Direccion", "Lapso", "NumeroInscripcion") VALUES ("20100200", "Josefina", "López", "Av. Circunvalación Edif. Posterior. Lomas del Este.", "2012-2", 9)

 * sqlite:///Inscripciones.db
(sqlite3.IntegrityError) UNIQUE constraint failed: Estudiantes.CI
[SQL: INSERT INTO Estudiantes ("CI", "EstudianteNombre" , "EstudianteApellido" , "Direccion" , "Lapso" , "NumeroInscripcion" ) VALUES ("20100200", "Josefina" , "López" , "Av. Circunvalación Edif. Posterior. Lomas del Este." , "2012-2" , 9)]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

Inserciones en la tabla \Verb|Escuelas|

In [10]:
%sql INSERT INTO Escuelas ("NumeroEscuela", "NombreEscuela") VALUES (47, "Sistemas"), (44, "Mantenimiento"), (41, "Civil")

 * sqlite:///Inscripciones.db
3 rows affected.

[]

Inserciones en la tabla \Verb|Materias|

In [11]:
%sql INSERT INTO Materias ("CodigoMateria", "Nombre", "NumeroEscuela") VALUES ("Comp-47", "Computación", 47), ("Fis-47", "Física", 47), ("Mat4-47", "Matemática IV", 47), ("Mat-44", "Matemática", 44), ("Fis-44", "Física", 44), ("Elec-44", "Electrónica", 44), ("Est-41", "Estadística", 41), ("Lab-41", "Laboratorio", 41), ("Met-41", "Metodología", 41)

 * sqlite:///Inscripciones.db
9 rows affected.

[]

Inserciones en la tabla \Verb|TipoInscripcion|

In [12]:
%sql INSERT INTO TipoInscripcion ("Id-Tipo", "Descripcion") VALUES (1, "Regular"), (2, "Reincorporado"), (3, "Equivalencia")

 * sqlite:///Inscripciones.db
3 rows affected.

[]

Inserciones en la tabla \Verb|Inscripciones|

In [13]:
%sql INSERT INTO Inscripciones ("Fecha", "Monto", "TipoInscripcion", "Lapso", "CodigoMateria", "NumeroSemestre") VALUES ("20-01-2010", 15.0, 1, "2010-1", "Comp-47", 3), ("21-06-2010", 20.0, 2, "2010-2", "Fis-47", 4), ("22-01-2010", 25.0, 3, "2010-1", "Mat4-47", 6), ("20-01-2010", 15.0, 1, "2011-1", "Mat-44", 3), ("21-06-2011", 20.0, 2, "2011-2", "Fis-44", 4), ("22-06-2011", 25.0, 3, "2011-1", "Elec-44", 6), ("20-01-2012", 15.0, 1, "2012-1", "Est-41", 3), ("21-06-2012", 20.0, 2, "2012-2", "Lab-41", 4), ("22-06-2012", 25.0, 3, "2012-2", "Met-41", 6)

 * sqlite:///Inscripciones.db
9 rows affected.

[]

### Consulta SQL

In [38]:
%sql SELECT I.NumeroSemestre AS 'No. Semestre', I.NumeroInscripcion AS 'No. Inscripción', I.TipoInscripcion AS 'Tipo de Inscripción', I.CodigoMateria AS 'Código Materia', Esc.NombreEscuela AS 'Escuela', E.CI AS 'C.I. Estudiante' FROM Inscripciones I JOIN Estudiantes E ON E.NumeroInscripcion = I.NumeroInscripcion JOIN Materias M ON M.CodigoMateria = I.CodigoMateria JOIN Escuelas Esc ON Esc.NumeroEscuela = M.NumeroEscuela

 * sqlite:///Inscripciones.db
Done.

[(3, 1, 1, 'Comp-47', 'Sistemas', '20100200'),
 (4, 2, 2, 'Fis-47', 'Sistemas', '21150210'),
 (6, 3, 3, 'Mat4-47', 'Sistemas', '22110300'),
 (3, 4, 1, 'Mat-44', 'Mantenimiento', '23105600'),
 (4, 5, 2, 'Fis-44', 'Mantenimiento', '21900300'),
 (6, 6, 3, 'Elec-44', 'Mantenimiento', '22115116'),
 (3, 7, 1, 'Est-41', 'Civil', '23450200'),
 (4, 8, 2, 'Lab-41', 'Civil', '20800250')]